apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  labels:
    app: api-demo
spec:
  replicas: {{.Values.apiApp.replicaCount}}
  selector:
    matchLabels:
      name: api-demo-pod
      app: api-demo
  template:
    metadata:
      name: api-demo-pod
      labels:
        name: api-demo-pod
        app: api-demo

    spec:
      containers:
      - name: voting-app
        image: {{.Values.apiApp.image.repository}}
        ports:
        - containerPort: 80
