apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  labels:
    app: api-demo
spec:
  replicas: {{.Values.apiApp.replicaCount}}
  selector:
    matchLabels:
      name: api-demo-pod
      app: api-demo
  template:
    metadata:
      name: api-demo-pod
      labels:
        name: api-demo-pod
        app: api-demo
    spec:
      containers:
      - name: api-app
        image: {{.Values.apiApp.image.repository}}:{{.Values.apiApp.image.tag}}
        ports:
        - containerPort: 80
        envFrom:
        - configMapRef:
            name: api-config

        {{- if .Values.deployment.resourcse.limits}}
        resources:
          limits:
            memory: {{.Values.deployment.resourcse.limits.memory | default "256Mi" | quote}}
            cpu: {{.Values.deployment.resourcse.limits.cpu | default "300m" | quote}}
          {{- else}}
          limits:
            memory: "128Mi"
            cpu: "100m"
        {{- end }}